<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { brandColor: platformBrand && platformBrand.color ? platformBrand.color : '#0F766E' }) %>
  </head>
  <body class="platform-shell body-frame min-h-screen text-gray-900 antialiased">
    <div class="flex min-h-screen flex-col">
      <%- include('../partials/platform-navbar') %>
      <%- include('../partials/flash') %>
      <main class="flex-1">
        <%- body %>
      </main>
      <%- include('../partials/platform-footer') %>
    </div>
    <%- include('../partials/shared-scripts') %>
  </body>
</html>
